<div *ngIf="course">
    <button (click)="goBack()">go back</button>
    <h2>{{course.subject | uppercase}} {{course.catalog_nbr}} Details</h2>
    <div><span>-descrlong: </span>{{course.course_info[0].descrlong}}</div>

    <h3>Course Description: </h3>
    {{course.catalog_description}}
    <br>
    {{course.course_info[0].descr}}
    <br>
  <table>
    <tr>
      <th>Subject</th>
      <th>Catalog Number</th>
      <th>Class Name</th>
      <th>Course Component</th>
      <th>Course Section</th>
    </tr>
    <tr>
      <td>{{course.subject}}</td>
      <td>{{course.catalog_nbr}}</td>
      <td>{{course.className}}</td>
      <td>{{course.course_info.ssr_component}}</td>
      <td>{{course.course_info[0].class_section}}</td>
    </tr>
    <tr>
      <th>Class Number</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Days</th>
      <th>Facility</th>
    </tr>
    <tr>
      <td>{{course.course_info[0].class_nbr}}</td>
      <td>{{course.course_info[0].start_time}}</td>
      <td>{{course.course_info[0].end_time}}</td>
      <td>{{course.course_info[0].days}}</td>
      <td>{{course.course_info[0].facility_ID}}</td>
    </tr>
    <tr>
      <th>Campus</th>
      <th>Facility</th>
      <th>Instructors</th>
      <th>Enroll Status</th>
    </tr>
    <tr>
      <td>{{course.course_info[0].campus}}</td>
      <td>{{course.course_info[0].facility_ID}}</td>
      <td>{{course.course_info[0].instructors}}</td>
      <td>{{course.course_info[0].enrl_stat}}</td>

    </tr>
  </table>
  
  <div>
    <h2>Reviews:</h2>
    <li *ngFor="let review of reviews">
      {{review}}
    </li>
    <br>
    <input #reviewBox id="box" placeholder="Enter Review"/>
    <br>
    <button (click)="postReview(reviewBox.value)"> Post Review</button>

  </div>
</div>