<h1>Schedule Drafter</h1>
<nav>
  <a routerLink="/schedules">Schedules</a>
  &nbsp;
  <a routerLink="/courses">All Courses</a>
  &nbsp;
  <a routerLink="/about">About</a>
  &nbsp;
  <a (click)="logout()" style="float: right;" *ngIf="account" >Logout</a>
  <a routerLink="/login" style="float: right;" *ngIf="!account" >Login</a>
  &nbsp;
  <a routerLink="/accounts" style="float: right;" *ngIf="isAdmin()">All Accounts</a>
  &nbsp;
  <a routerLink="/account/{{account.name}}" style="float: right;" *ngIf="account">My Account</a>
</nav>
<router-outlet></router-outlet>