<div *ngIf="account">
  <br>
  <button (click)="goBack()">go back</button>
  <h2>{{account.name| uppercase}}'s Account Details</h2>
  <div><span>name: </span>{{account.name}}</div>
  <div><span>email: </span>{{account.email}}</div>
  <div><span>password: </span>{{account.password}}</div>
  <div><span>admin: </span>{{account.admin}}</div>
  <div><span>activated: </span>{{account.activated}}</div>
  <br>
  <button (click)="adminAccount(account.name,account.email,account.password,account.admin,account.activated)" *ngIf="isAdmin()">Change Admin Priveleges</button>
  &nbsp;
  <button (click)="activateAccount(account.name,account.email,account.password,account.admin,account.activated)" *ngIf="isAdmin()">Activate/Deactivate</button>
  <br>
  <br>
  <input #searchBox id="search-box" placeholder="New Password"/>
  &nbsp;
  <button (click)="updatePassword(account.name,account.email,searchBox.value,account.admin,account.activated)">Update Password</button>
</div>