<div *ngIf="schedule">
    <br>
    <button (click)="goBack()">go back</button>
    &nbsp;
    <button (click)="showButtons()" *ngIf="checkOwner()">delete schedule</button>
    &nbsp;
    <button id="cancel" (click)="deleteSchedule('false')" hidden>Cancel</button>
    &nbsp;
    <button id="confirm" (click)="deleteSchedule('true')" hidden>Confirm</button>

    <h2>{{schedule.schedule| uppercase}} Courses</h2>
    <h3>Created By: {{schedule.creator}}</h3>
    <h3>Public: {{schedule.public}}</h3>
    <button (click)="togglePublic()">Toggle Public/Private</button>

    <h3>Description:</h3>
    <p>{{schedule.description}}</p>
    <input #descBox id="desc-box" placeholder="Enter Description"/>
    <br>
    <br>
    <button (click)="updateDesc(descBox.value)"> Add/Update Description</button>
    <ul class="courses">
      <li *ngFor="let course of matchingCourses">
          <a routerLink="/detail/{{course.subject}}/{{course.catalog_nbr}}">
            <span class="badge">{{course.subject}} | {{course.catalog_nbr}} </span> Section: {{course.course_info[0].class_section}} | Component: {{course.course_info[0].ssr_component}} | Time: {{course.course_info[0].start_time}} - {{course.course_info[0].end_time}} | Days: {{course.course_info[0].days}}<span class="badge2" style="float: right;">{{course.className}}</span>
          </a>
      </li>
    </ul>
    <h3>Amount of courses: {{matchingCourses.length}}</h3>
    <app-course-search *ngIf="checkOwner()"></app-course-search>
  </div>