<div>
    <br>
    <input #searchBox id="search-box" placeholder="Email"/>
    <br>
    <input #searchBox2 type="password" id="search-box2" placeholder="Password"/>
    <br>
    <br>
    <button (click)="loginAccount(searchBox.value,searchBox2.value)">Login</button>

</div>
<div>
    <br>
    <input #searchBox3 id="search-box3" placeholder="Name"/>
    <br>
    <input #searchBox4 id="search-box4" placeholder="Email"/>
    <br>
    <input #searchBox5 type="password" id="search-box5" placeholder="Password"/>
    <br>
    <br>
    <button (click)="addAccount(searchBox3.value,searchBox4.value,searchBox5.value)"> Register</button>
</div>