<div id="search-component">
    <h4><label for="search-box">Course Search</label></h4>
  
    <input #searchBox id="search-box" (input)="search(searchBox.value+','+searchBox2.value+','+searchBox3.value)" placeholder="subject"/> | <input #searchBox2 id="search-box2" (input)="search(searchBox.value+','+searchBox2.value+','+searchBox3.value)" placeholder="course code"/> | <input #searchBox3 id="search-box3" (input)="search(searchBox.value+','+searchBox2.value+','+searchBox3.value)" placeholder="component"/>
    
    <ul class="courses">
      <li *ngFor="let course of courses$ | async" >
        <a routerLink="/detail/{{course.subject}}/{{course.catalog_nbr}}">
          <span class="badge">{{course.subject}} | {{course.catalog_nbr}} </span> Section: {{course.course_info[0].class_section}} | Component: {{course.course_info[0].ssr_component}} | Time: {{course.course_info[0].start_time}} - {{course.course_info[0].end_time}} | Days: {{course.course_info[0].days}}<span class="badge2" style="float: right;">{{course.className}}</span> <button style="float: right" (click)="updateSchedule(course.subject,course.catalog_nbr.toString())">Add Course</button>
        </a>
      </li>
    </ul>
  </div>